<div>
  <h1>Choisi</h1>
  <div>
    <button (click)="choisi = '1'">New Choisi</button>
    <div>
      <input type="text" placeholder="Room code" [(ngModel)]="choisi" />
      <button (click)="joinRoom()">Join Room</button>
    </div>
  </div>
</div>
